---
import { SITE_PAGES } from '@/data';

import MainLayout from '@/layouts/Main';
import Container from '@components/Container';
import UiTitle from '@ui/UiTitle';
---

<MainLayout title="Список страниц">
  <Container>
    <UiTitle as="h1">Список страниц</UiTitle>
    <ol>
      {
        SITE_PAGES.map((item) => (
          <li>
            <a href={item.href}>{`${item.label} — ${item.href}`}</a>
          </li>
        ))
      }
    </ol>
  </Container>
</MainLayout>
